<%- include('partials/header') %>

<header>
    <div class="work">
        <img src="work.png" alt="">

    </div>

    <div class="heading">
        <h2>AUY Task Management</h2>
        <a class="btn" href="/works">Show Tasks</a>
    </div>
</header>


<%- include('partials/footer') %>
