<%- include('partials/header') %>

<ul class="works">
    <li class="work">
        <img src="work.png">
        <h4>Task Management Software</h4>
        <p>test</p>
    </li>
</ul>


<%- include('partials/footer') %>
